<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @purchase.price %>
</p>

<p>
  <b>Local:</b>
  <%= @purchase.local %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
